# Core dependencies
pandas==2.2.3
numpy==1.26.4
requests==2.31.0

# Database
psycopg2-binary==2.9.10
sqlalchemy==2.0.36

# Dashboard
streamlit==1.41.1
plotly==5.24.1

# Utils
python-dotenv==1.0.1
